<header class="playlist-header">
  <button (click)="goBack()" class="back-button playlist-back-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5L8.25 12l7.5-7.5"></path>
    </svg>
  </button>
  <div class="avatar-container">
    <img [src]="avatar()" [alt]="name()" class="playlist-avatar" />
    <button class="add-button playlist-add-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="3"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"></path>
      </svg>
    </button>
  </div>
  <div class="user-info">
    <span class="user-name">
      <span class="playlist-user-name">
        {{name()}}
      </span>
    </span>
    <span class="user-date">
      <span class="playlist-user-date">
        {{date()}}
      </span>
    </span>
  </div>
</header>
