:host {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
  }
}
