<app-header />

<main class="app-container">
  <div class="card-list">
    @for (card of cards; track card.id) {
      <app-card
        [id]="card.id"
        [title]="card.title"
        [user]="card.user"
        [stats]="card.stats"
        [backgroundColor]="card.backgroundColor"
        [backgroundImage]="card.backgroundImage"
        [backgroundAnimation]="card.backgroundAnimation"
        [textColor]="card.textColor"
        [secondaryTextColor]="card.secondaryTextColor"
        [media]="card.media"
      />
    }
  </div>
  <footer>
    <p>
      This site is a demo of how to persist animating elements across navigation
      events using the
      <a
        href="https://developer.chrome.com/docs/web-platform/view-transitions/"
        target="_blank"
        rel="noopener"
      >
        View Transitions API
      </a>
      and the
      <a
        href="https://developer.chrome.com/docs/web-platform/navigation-api/"
        target="_blank"
        rel="noopener"
      >
        Navigation API </a
      >. Both APIs are available in Chrome 111+.
    </p>
    <hr />
    <p>
      Made with ☕️ by
      <a href="https://twitter.com/charca" target="_blank" rel="noopener"
        >Maxi Ferreira</a
      >
      — Based on the
      <a
        href="https://dribbble.com/shots/4650389-Music-Playlist-App-Interaction"
        target="_blank"
        rel="noopener"
        >original concept</a
      >
      by Ehsan Rahimi.
      <a
        href="https://github.com/Charca/view-transitions-live"
        target="_blank"
        rel="noopener"
        >Source code</a
      >. Powered by
      <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    </p>
  </footer>
</main>
